extends header
block title
 title Index
block content
  
  .main-content(style="padding-bottom: 0px;")
    .wrap

     .right-content
      .right-content-heading
       .right-content-heading-left
         ul.categories
          - for( var i in listCategory){ 
             li(id="#{listCategory[i]['_id']}",style="float:left",onmouseover="showCategory('#{listCategory[i]['_id']}')",onmouseout="hideCategory('#{listCategory[i]['_id']}')")
               a(href="#")
                span
                 i(class="#{listCategory[i]['icon']}",style="margin-left:20%") 
                |#{listCategory[i]['name'].toUpperCase()}
               div(id="cate#{listCategory[i]['_id']}",class="category-detail")
                ul(style="margin-left:35px")
                  -var j=0;
                  -while(j<listFilmType[listCategory[i]['_id']].length){
                     ul(style="float:left")
                       
                       - for(var k=0;k<global.numDisplayCate && j< listFilmType[listCategory[i]['_id']].length;k++,j++){ 
                            li #{listFilmType[listCategory[i]['_id']][j]['type_name']}
                       - }
                  -}   
               
          - }
       .right-content-heading-right
        .social-icons
         ul
              li <a class="facebook" href="#" target="_blank"> </a>
              li <a class="twitter" href="#" target="_blank"></a>
              li <a class="googleplus" href="#" target="_blank"></a>
              li <a class="pinterest" href="#" target="_blank"></a>
              li <a class="dribbble" href="#" target="_blank"></a>
              li <a class="vimeo" href="#" target="_blank"></a>

        .clear
      .row
       
       .content-grids
        
         - for(var i in listFilm){
           .content-grid(style="width:227px")
            a(href="#{global.site_path}video/view?id=#{ listFilm[i]['_id']}") 
             img(src="#{listFilm[i]['image']}",style="width:227px;height:227px")
            h3(style="margin:0 0 0 0") #{ listFilm[i]['name'].toUpperCase()}
            ul
             li 
              a(href="#")
               img(src="images/likes.png",title="#{ listFilm[i]['name']} - #{global.dns}")
             li 
              a(href="#")
               img(src="images/views.png",title="#{ listFilm[i]['name']} - #{global.dns}")
             li 
              a(href="#")
               img(src="images/link.png",title="#{ listFilm[i]['name']} - #{global.dns}")
            a(href="none",class="button") Xem ngay
         -  }

  .clear
  block footer
  .copy-right
       p| Design by 
                     a(href="") achiles
  .footer
    script(type='text/javascript', src='/libs/jquery/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/javascripts/script.js')
    script(type='text/javascript', src='/libs/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/libs/font-awesome/js/font-awesome.min.js')