extends header
block title
 title View
block content
  
  .main-content(style="padding-bottom: 0px;")


     .right-content
      .right-content-heading
       .right-content-heading-left
         ul.categories
          - for( var i in listCategory){ 
             li(id="#{listCategory[i]['_id']}",style="float:left",onmouseover="showCategory('#{listCategory[i]['_id']}')",onmouseout="hideCategory('#{listCategory[i]['_id']}')")
               a(href="#")
                span
                 i(class="#{listCategory[i]['icon']}",style="margin-left:20%") 
                |#{listCategory[i]['name'].toUpperCase()}
               div(id="cate#{listCategory[i]['_id']}",class="category-detail")
                ul(style="margin-left:35px")
                  -var j=0;
                  -while(j<listFilmType[listCategory[i]['_id']].length){
                     ul(style="float:left")
                       
                       - for(var k=0;k<global.numDisplayCate && j< listFilmType[listCategory[i]['_id']].length;k++,j++){ 
                            li #{listFilmType[listCategory[i]['_id']][j]['type_name']}
                       - }
                  -}   
               
          - }
       .right-content-heading-right
        .social-icons
         ul
              li <a class="facebook" href="#" target="_blank"> </a>
              li <a class="twitter" href="#" target="_blank"></a>
              li <a class="googleplus" href="#" target="_blank"></a>
              li <a class="pinterest" href="#" target="_blank"></a>
              li <a class="dribbble" href="#" target="_blank"></a>
              li <a class="vimeo" href="#" target="_blank"></a>

        .clear
      .row
       
            
       div(style="width:90%;margin:5%")
        .inner-page 
         .title 
           h2 #{film['name']} ( #{film['english_name']} )
         .video-inner 
         -if(film['listEp'][0]!=null)
          iframe(src="#{film['listEp'][Episo-1]['link']}",width="100%",height="500px",frameborder="0",webkitallowfullscree,mozallowfullscreen allowfullscreen)
         -else
          h2 VIDEO ĐANG CẬP NHẬT
        .video-detail
         .left-sidebar
          .sidebar-boxs
           .clear
            .type-videos
              -if(film['listEp'].length>1){
              h4 TẬP PHIM( #{Episo}/#{film['listEp'].length})
              ul
               -for(var i in film['listEp']){
               li
               -if(i!=(Episo-1))
                a(href="view?id=#{film['_id']}&Ep=#{film['listEp'][i]['ep']}",style="float:left;padding:10px 15px 10px 15px;margin-right:5px") #{film['listEp'][i]['ep']}
               -else
                a(href="view?id=#{film['_id']}&Ep=#{film['listEp'][i]['ep']}",style="float:left;padding:10px 15px 10px 15px;margin-right:5px;background-color:green;color:white") #{film['listEp'][i]['ep']}
               -}
              -}
              .clear
              h4 THÔNG TIN
              ul(style="list-style:circle")
               li Tên phim: #{film['name']}
               li Tên tiếng Anh: #{film['english_name']}
               li Năm sản xuất: #{film['year_of_production']}
               -var text="";
               -for(var i in film['Type']){  
                    -text+=film['Type'][i]['type_name']+ ' '
               -}
               li Thể loại : #{text}
               li Thời lượng:#{film['time']}   
                  
               li Quốc gia: #{film['name']}
               li Đạo diễn: #{film['directory']}
               li IMDb: #{film['imdb']}
               li Nội dung: #{film['detail']}
              ul
               li Từ khóa: #{film['keyword']}
              h4 DIỄN VIÊN
              div(style="height:200px;overflow:overlay")
               ul
                -for(var i in film['Actor']){  
                   li(style="height:61px")
                    a(href="#",style="width:60px;height:60px;float:left")
                     img(src="#{film['Actor'][i]['avatar']}")
                    a(href="#",style="padding:15px") &nbsp; #{film['Actor'][i]['name']}
                -}
               
         div(style="float:left")  
         
  .clear
  block footer
  .copy-right
       p| Design by 
                     a(href="") achiles
  .footer
    script(type='text/javascript', src='/libs/jquery/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/javascripts/script.js')
    script(type='text/javascript', src='/libs/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/libs/font-awesome/js/font-awesome.min.js')